package-lock.json
*/.old/*
config.js
daemon/officrbackend.wrapper.log
daemon/officrbackend.err.log
daemon/officrbackend.exe
daemon/officrbackend.exe.config
daemon/officrbackend.out.log
daemon/officrbackend.xml
officr.bat
autstart.log
node_modules/http-gzip/package.json
.vscode/settings.json
package.json
node_modules/*