body {
    .horizontal-container {
        .searchBar {
            input {
                width: auto;
            }
        }
    }
}
header {
    img {
        margin-right: 1ch !important;
        height: 1.5rem !important;
    }
    span {
        font-size: 1rem !important;
        font-weight: 200;
    }
}
.desktop-only {
    display: none;
}
.mobile-only {
    display: initial;
}
.flex {
    flex-direction: column;
    position: relative;
    img {
        width: 90%;
    }
    * {
        text-align: center;
    }
}
