@import url("font.css");
@import url("style-d.css") only screen and (min-width: 992px);
@import url("style-m.css") only screen and (max-width: 991px);
$body-bg-color: rgb(20, 20, 20);
$header-bg: lighten($body-bg-color, 5%);
body {
  box-sizing: border-box;
  background-color: $body-bg-color;
  font-family: "Titillium";
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  .horizontal-container {
    position: relative;
    display: grid;
    grid-template-columns: auto max-content;
    grid-template-rows: max-content auto;
    max-width: 100%;
    @mixin header($grid-column, $grid-row) {
      background-color: $header-bg;
      grid-column: $grid-column;
      grid-row: $grid-row;
      min-height: 12%;
      position: relative;
      justify-content: start;
      align-items: center;
      display: flex;
      padding: 1.5rem;
      img {
        width: 1.5rem;
        margin: 0;
        padding: 0;
      }
      p {
        font-size: 1.5rem;
      }
      & > * {
        width: fit-content;
      }
    }
    header {
      @include header(1, 1);
      img {
        margin-right: 1ch;
        width: 3rem;
      }
    }
    div.icons {
      @include header(2, 1);
    }
    @mixin headerOverlayContent() {
      height: 100%;
      left: 0;
      top: 0;
      //width: 100%;
      position: absolute;
      border: none;
      padding: 0 1rem;
      background-color: $header-bg;
      color: white;
      font-family: "Titillium";
    }
    @mixin headerOverlay($z-index) {
      @include header(span 2, 1);
      z-index: $z-index;
      position: absolute;
      width: auto;
      left: 0;
      right: 0;
      transition: 0.2s;
      opacity: 0;
      padding: 0 1rem;
      pointer-events: none;
      height: 100%;
      transition: 0.2s;
      img {
        margin-left: auto;
        margin-right: 1rem;
      }
    }
    .searchBar {
      @include headerOverlay(48);
      &:focus-within {
        background-color: lighten($header-bg, 5%);
      }
      input {
        @include headerOverlayContent();
        font-size: 1.5rem;
        transition: 0.2s;
        &::placeholder {
          color: lighten($header-bg, 20%);
        }
        &:focus {
          outline: none;
          background-color: lighten($header-bg, 5%);
        }
      }
    }
    .filterBar {
      @include headerOverlay(48);
      .content {
        @include headerOverlayContent();
      }
    }
  }
}

.pointer {
  cursor: pointer;
}
