@import url("font.css");
@import url("style-d.css") only screen and (min-width: 992px);
@import url("style-m.css") only screen and (max-width: 991px);
body {
  background-color: rgb(20, 20, 40);
  font-family: "Titillium";
  color: white;
  margin: 0;
  padding: 0;
}
