@import url("font.css");
@import url("style-d.css") only screen and (min-width: 992px);
@import url("style-m.css") only screen and (max-width: 991px);
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #141414;
  font-family: "Montserrat";
  color: white;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

body .horizontal-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto max-content;
      grid-template-columns: auto -webkit-max-content;
      grid-template-columns: auto max-content;
  -ms-grid-rows: max-content auto;
      grid-template-rows: -webkit-max-content auto;
      grid-template-rows: max-content auto;
  max-width: 100%;
}

body .horizontal-container header {
  background-color: #212121;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  min-height: 12%;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  font-size: 1.5rem;
}

body .horizontal-container header img {
  width: 1.5rem;
  margin: 0;
  padding: 0;
}

body .horizontal-container header p {
  font-size: 1.5rem;
}

body .horizontal-container header > * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .horizontal-container header img {
  margin-right: 1ch;
  width: 8rem;
}

body .horizontal-container div.icons {
  background-color: #212121;
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 1;
  grid-row: 1;
  min-height: 12%;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  font-size: 1.5rem;
}

body .horizontal-container div.icons img {
  width: 1.5rem;
  margin: 0;
  padding: 0;
}

body .horizontal-container div.icons p {
  font-size: 1.5rem;
}

body .horizontal-container div.icons > * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .horizontal-container div.icons img {
  width: 1.75rem;
}

body .horizontal-container .searchBar {
  background-color: #212121;
  grid-column: span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  min-height: 12%;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  font-size: 1.5rem;
  z-index: 48;
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  padding: 0 1rem;
  pointer-events: none;
  height: 100%;
  transition: 0.2s;
}

body .horizontal-container .searchBar img {
  width: 1.5rem;
  margin: 0;
  padding: 0;
}

body .horizontal-container .searchBar p {
  font-size: 1.5rem;
}

body .horizontal-container .searchBar > * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .horizontal-container .searchBar img {
  margin-left: auto;
  margin-right: 1rem;
}

body .horizontal-container .searchBar:focus-within {
  background-color: #2e2e2e;
}

body .horizontal-container .searchBar input {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: none;
  padding: 0 1rem;
  background-color: #212121;
  color: white;
  font-family: "Montserrat";
  font-size: 1.5rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .horizontal-container .searchBar input::-webkit-input-placeholder {
  color: #545454;
}

body .horizontal-container .searchBar input:-ms-input-placeholder {
  color: #545454;
}

body .horizontal-container .searchBar input::-ms-input-placeholder {
  color: #545454;
}

body .horizontal-container .searchBar input::placeholder {
  color: #545454;
}

body .horizontal-container .searchBar input:focus {
  outline: none;
  background-color: #2e2e2e;
}

body .horizontal-container .filterBar {
  background-color: #212121;
  grid-column: span 2;
  -ms-grid-row: 1;
  grid-row: 1;
  min-height: 12%;
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem;
  font-size: 1.5rem;
  z-index: 48;
  position: absolute;
  width: auto;
  left: 0;
  right: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0;
  padding: 0 1rem;
  pointer-events: none;
  height: 100%;
  transition: 0.2s;
}

body .horizontal-container .filterBar img {
  width: 1.5rem;
  margin: 0;
  padding: 0;
}

body .horizontal-container .filterBar p {
  font-size: 1.5rem;
}

body .horizontal-container .filterBar > * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .horizontal-container .filterBar img {
  margin-left: auto;
  margin-right: 1rem;
}

body .horizontal-container .filterBar .content {
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border: none;
  padding: 0 1rem;
  background-color: #212121;
  color: white;
  font-family: "Montserrat";
}

.createButtonMenu {
  border-radius: 20rem;
  background-color: #d40000;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  bottom: 0;
}

.createButtonMenu > * {
  padding: 1ch;
  border-radius: 20rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.createButtonMenu img {
  height: 2rem;
  padding: 1ch;
  margin: 0;
}

.createButtonMenu:hover, .createButtonMenu:active {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.createButtonMenu:hover .main-img, .createButtonMenu:active .main-img {
  background-color: #bb0000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.createButtonMenu:hover .secondary-img, .createButtonMenu:active .secondary-img {
  width: 2rem;
  height: 2rem;
  padding: 1ch;
}

.createButtonMenu .secondary-img {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.createButtonMenu .secondary-img:hover {
  opacity: 0.75;
}

.pointer {
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.pointer:hover {
  opacity: 0.75;
}

.main-content {
  overflow: auto;
  padding: 1rem;
  max-width: 100%;
}

.main-content table {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-collapse: collapse;
}

.main-content table th {
  text-align: left;
}

.main-content table td,
.main-content table th {
  padding: 1ch 2ch;
}

.main-content table tr {
  border-bottom: white solid 1px;
  padding: 3ch;
  margin: 0;
}

.createTaskOverlay {
  background-color: rgba(20, 20, 20, 0.9);
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.createTaskOverlay .inner {
  height: 100%;
  position: relative;
}

.createTaskOverlay .inner .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.createTaskOverlay .inner .flex .content {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.createTaskOverlay .inner .close-img {
  position: absolute;
  right: 1ch;
  top: 1ch;
  height: 2rem;
  cursor: pointer;
}

.input-container {
  margin: 1ch;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.input-container label {
  position: absolute;
  color: white;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  top: 30%;
  opacity: 0.75;
  pointer-events: none;
  font-weight: 100;
}

.input-container:focus-within label,
.input-container input:not(:placeholder-shown) ~ label {
  font-size: 0.5rem;
  top: 0;
  opacity: 1;
  color: #00d4d4;
  font-weight: bold;
}

.input-container:not(:focus-within) input:not(:placeholder-shown) ~ label {
  color: #d40000;
}

.input-container input {
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-family: inherit;
  padding: 1ch;
  position: relative;
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-left: 0;
}

.input-container input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-family: inherit;
  font-weight: 100;
}

.input-container input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-family: inherit;
  font-weight: 100;
}

.input-container input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-family: inherit;
  font-weight: 100;
}

.input-container input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-family: inherit;
  font-weight: 100;
}

.input-container input:focus {
  outline: none;
}

.input-container::after {
  content: "";
  padding: 0;
  margin: 0;
  background-color: #d40000;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5%;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-container:focus-within::after {
  background-color: #00d4d4;
}

.classic-button {
  background: none;
  border: #d40000 solid 0.15rem;
  outline: none;
  color: #d40000;
  padding: 1ch 3ch;
  font-family: "Montserrat";
  font-size: 1.1rem;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  font-weight: bold;
  margin: 1ch;
  width: 100%;
}

.classic-button:hover, .classic-button:active {
  background: #00d4d4;
  border-color: #00d4d4;
  color: black;
}

.classic-button:disabled {
  border-color: gray;
  color: gray;
  cursor: not-allowed;
}

.classic-button:disabled:hover, .classic-button:disabled:active {
  border-color: gray;
  color: gray;
  background: none;
}
/*# sourceMappingURL=style.css.map */