@import url("font.css");
@import url("style-d.css") only screen and (min-width: 992px);
@import url("style-m.css") only screen and (max-width: 991px);
$body-bg-color: rgb(20, 20, 20);
$header-bg: lighten($body-bg-color, 5%);

$accentColor: #d40000;
$secondColor: #00d4d4;
$font-family: "Montserrat";

body {
    box-sizing: border-box;
    background-color: $body-bg-color;
    font-family: $font-family;
    color: white;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    .horizontal-container {
        position: relative;
        display: grid;
        grid-template-columns: auto max-content;
        grid-template-rows: max-content auto;
        max-width: 100%;
        @mixin header($grid-column, $grid-row) {
            background-color: $header-bg;
            grid-column: $grid-column;
            grid-row: $grid-row;
            min-height: 12%;
            position: relative;
            justify-content: start;
            align-items: center;
            display: flex;
            padding: 1.5rem;
            font-size: 1.5rem;
            img {
                width: 1.5rem;
                margin: 0;
                padding: 0;
            }
            p {
                font-size: 1.5rem;
            }
            & > * {
                width: fit-content;
            }
        }
        header {
            @include header(1, 1);
            img {
                margin-right: 1ch;
                width: 8rem;
            }
        }
        div.icons {
            @include header(2, 1);
            img {
                width: 1.75rem;
            }
        }
        @mixin headerOverlayContent() {
            height: 100%;
            left: 0;
            top: 0;
            //width: 100%;
            position: absolute;
            border: none;
            padding: 0 1rem;
            background-color: $header-bg;
            color: white;
            font-family: $font-family;
        }
        @mixin headerOverlay($z-index) {
            @include header(span 2, 1);
            z-index: $z-index;
            position: absolute;
            width: auto;
            left: 0;
            right: 0;
            transition: 0.2s;
            opacity: 0;
            padding: 0 1rem;
            pointer-events: none;
            height: 100%;
            transition: 0.2s;
            img {
                margin-left: auto;
                margin-right: 1rem;
            }
        }
        .searchBar {
            @include headerOverlay(48);
            &:focus-within {
                background-color: lighten($header-bg, 5%);
            }
            input {
                @include headerOverlayContent();
                font-size: 1.5rem;
                transition: 0.2s;
                &::placeholder {
                    color: lighten($header-bg, 20%);
                }
                &:focus {
                    outline: none;
                    background-color: lighten($header-bg, 5%);
                }
            }
        }
        .filterBar {
            @include headerOverlay(48);
            .content {
                @include headerOverlayContent();
            }
        }
    }
}
@mixin icon-btn() {
    border-radius: 20rem;
    background-color: $accentColor;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    transition: 0.2s;
    flex-direction: column;
    //height: 3rem;
    & > * {
        padding: 1ch;
        border-radius: 20rem;
        transition: 0.2s;
    }
    img {
        height: 2rem;
        padding: 1ch;
        margin: 0;
    }

    //width: 3rem;
    &:hover,
    &:active {
        .main-img {
            background-color: darken($accentColor, 5%);
            transform: rotate(45deg);
        }
        width: max-content;
        .secondary-img {
            width: 2rem;
            height: 2rem;
            padding: 1ch;
        }
    }
    .secondary-img {
        transition: 0.2s;
        width: 0;
        height: 0;
        margin: 0;
        padding: 0;
        cursor: pointer;
        &:hover {
            opacity: 0.75;
        }
    }
}
.createButtonMenu {
    @include icon-btn;
    right: 0;
    bottom: 0;
}
.pointer {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        opacity: 0.75;
    }
}
.main-content {
    overflow: auto;
    padding: 1rem;
    max-width: 100%;
    table {
        width: max-content;
        border-collapse: collapse;
        th {
            text-align: left;
        }
        td,
        th {
            padding: 1ch 2ch;
        }
        tr {
            border-bottom: white solid 1px;
            padding: 3ch;
            margin: 0;
        }
    }
}
.createTaskOverlay {
    background-color: rgba($body-bg-color, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    transition: 0.2s;
    .inner {
        height: 100%;
        position: relative;
        .flex {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            height: 100%;
            .content {
                height: max-content;
            }
        }
        .close-img {
            position: absolute;
            right: 1ch;
            top: 1ch;
            height: 2rem;
            cursor: pointer;
        }
    }
}
.input-container {
    margin: 1ch;
    position: relative;
    width: max-content;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    //padding: 0 1ch;
    label {
        position: absolute;
        color: white;
        left: 0;
        transition: 0.5s;
        top: 30%;
        opacity: 0.75;
        pointer-events: none;
        font-weight: 100;
    }
    &:focus-within label,
    & input:not(:placeholder-shown) ~ label {
        font-size: 0.5rem;
        top: 0;
        opacity: 1;
        color: $secondColor;
        font-weight: bold;
    }
    &:not(:focus-within) input:not(:placeholder-shown) ~ label {
        color: $accentColor;
    }

    input {
        width: 100%;
        border: none;
        background-color: transparent;
        color: white;
        font-family: inherit;
        padding: 1ch;
        position: relative;
        display: block;
        font-size: 1.1rem;
        font-weight: 600;
        height: max-content;
        padding-left: 0;
        &::placeholder {
            color: rgba(white, 0.8);
            font-family: inherit;
            font-weight: 100;
        }
        &:focus {
            outline: none;
        }
    }
    &::after {
        content: "";
        padding: 0;
        margin: 0;
        background-color: $accentColor;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 5%;
        display: block;
        transition: 0.5s;
    }
    &:focus-within::after {
        background-color: $secondColor;
    }
}
.classic-button {
    background: none;
    border: $accentColor solid 0.15rem;
    outline: none;
    color: $accentColor;
    padding: 1ch 3ch;
    font-family: $font-family;
    font-size: 1.1rem;
    transition: 0.2s;
    cursor: pointer;
    font-weight: bold;
    margin: 1ch;
    width: 100%;
    &:hover,
    &:active {
        background: $secondColor;
        border-color: $secondColor;
        color: black;
    }
    &:disabled {
        border-color: gray;
        color: gray;
        cursor: not-allowed;
        &:hover,
        &:active {
            border-color: gray;
            color: gray;
            background: none;
        }
    }
}
